
<header class="header">
  <img src="/images/header.jpg" alt="Header Image" class="header-image">
</header>

<main class="main-content">
  <h1 class="welcome-title">Bienvenido al Home del ANSES de Superhéroes</h1>
  <div class="welcome-message">
    <strong>C.R.U.D.</strong>:  
    <em>C</em>: "Cansancio" eterno, como el que tuve al rastrear los errores;  
    <em>R</em>: "Rabia" acumulada cada vez que el servidor decía: <code>-ruta no definida</code>;  
    <em>U</em>: "Un sinfín" de veces que revisé el código;  
    <em>D</em>: "Desesperación" cuando, una vez más, olvidé pasar el maldito <code>title</code>.
  </div>

  <nav class="nav-bar">
    <a href="/api/listado" class="nav-button">Listado Superhéroes</a>
    <a href="/api/add" class="nav-button">Agregar Superhéroe</a>
    <a href="/api/edit" class="nav-button">Editar Superhéroe</a>
    <a href="/api/delete" class="nav-button">Eliminar Superhéroe</a>
  </nav>

  <section class="superheroes-section">
    <img src="/images/superheroes.jpg" alt="Superheroes" class="superheroes-image">
  </section>
</main>
