<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a href="https://trello.com" target="_blank" class="navbar-link">Trello</a></li>
    <li class="navbar-item"><a href="https://github.com" target="_blank" class="navbar-link">GitHub</a></li>
  </ul>
</nav>
